*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 7px;
}
h1{
    text-align: center;
}
p{
    border: 1px solid black;
    width: 90%;
    height : auto;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    text-align: justify;
    border: 1px solid black; 
}
.s1 , .s2 , .s3{
    display: flex;
    justify-content: right;
    border: 1px solid white;
    font-size: 18px;
    font-weight: bolder;
    padding: 5px;
}
.p1{
    background-color : #FF0000;
}
.p2{
    background-color: #00FF00;
}
.p3{
    background-color: #0000FF;
}

@media(min-width:992px){
    .col-lg-1 , .col-lg-2 , .col-lg-3 {
        width: auto;
    }
}
@media(min-width:768px) and (max-width:991px){
    .col-md-1 , .col-md-2 {
        width: 50%;
        float: left;
    }
    .col-md-3{
        clear: left;
        width: 100%;
    }
    
}
@media(max-width:767px){
    .col-xs-1 , .col-xs-2 , .col-xs-3{
        width: auto;  
    }
}